@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy/Gilroy-Light.otf) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Extra Bold";
    src: url(fonts/gilroy/Gilroy-ExtraBold.otf) format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Medium";
    src: url(fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Reqular";
    src: url(fonts/gilroy/Gilroy-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Headvy";
    src: url(fonts/gilroy/Gilroy-Heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}


body{
    background-color: rgba(25, 20, 17, 1);
    margin: 0;
    font-family: "Gilroy Reqular";
    color: white;
    
}

.whybg{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.best-bg{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 287px;
    align-items: center;
    text-align: center;

}

.best{
    display: flex;
    width: 1136px;
    justify-content: space-between;
}

.whybg h1{
    font-family: "Merriweather"; 
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

.best-bg img{
    width: 100px;
    height: 100px;
}

main h1{
    font-family: "Merriweather";
    font-weight: 900;
    font-style: Black;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

main{
    margin: 0 auto;
}

.cards{
    box-sizing: border-box ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.__card{
    width: 384px;
    height: 564px;
    border-width: 1px;
    border-radius: 16px;
    text-align: left;
    line-height: 140%;
    border: 1px solid rgba(53, 53, 53, 1);
    box-sizing: border-box ;
    background-color: rgba(33, 26, 22, 1);
}


.card__content > img{
    width: 324px;
    height: 250px;

}

.card__content {
    width: 324;
    height: 504;
    gap: 24px;
    padding: 30px;

}


.price-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button img{
    width: 24px;
    height: 24px;
}



button {
    width: 182px;
    height: 62px;
    border-radius: 8px;
    background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
}

.block-button{
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.price-massa{
    display: flex; 
    flex-direction: column;
    min-width: 49px;
    height: 66px;
    justify-content: space-between;
}

.price{
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px

}

.massa{
    margin: 0;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(117, 117, 117, 1);

}

.globalblock{
    display: flex;
    flex-direction: column;
    gap: 24px;
}